/* Always visible and fixed navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6535c4;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Logo */
.logo {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;

  font-weight: 600;
  color: white;
  text-decoration: none;
}

/* Nav links with spacing */
.desktop-links {
  display: flex;
  gap: 2.5rem; /* space between links */
}

.desktop-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s;
}

.desktop-links a:hover {
  color: #5eacff;
}
