body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Global Styles */
body {
  font-family: "Arial", sans-serif;
  background: none; /* Remove gradient or any background */
  color: white;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  padding: 20px;
  background-color: #333;
  text-align: center;
}

/* Button Styles */
button {
  padding: 10px 20px;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}

body {
  font-family: "Arial", sans-serif;
  background: none; /* Optional, removes the gradient */
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh; /* Ensures body fills the viewport */
  overflow-x: hidden; /* Prevents horizontal scroll */
}

.home-container {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure it takes the full height */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page-section {
  margin: 0;
  padding: 0;
}
